#app {
  padding: 100px;
}

.gallery-item {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #383838;
  border-radius: 5px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.gallery-top-preview {
  padding: 16px;
  display: flex;
  justify-content: space-between;

  > div:first-child {
    color: greenyellow;
    font-weight: bold;
  }

  > div:last-child {
    color: greenyellow;
    font-weight: bold;
  }
}

.gallery-bottom-preview {
  padding: 16px;
  display: flex;
  justify-content: center;
  color: white;
}

.qwe {
  background: yellow;
  height: 1000px;
}
