<div id="app">
  <h1>Carrousel preview</h1>
  <tsq-gallery [files]="files"></tsq-gallery>

  <h1>With custom actions and display</h1>
  <tsq-gallery [files]="files"
               [itemContainerClass]="'gallery-item-custom'"
               [imagePreviewTemplate]="imagePreviewTemplate"
               [pdfPreviewTemplate]="pdfPreviewTemplate"
               [topViewerTemplate]="topViewerTemplate"
               [bottomViewerTemplate]="bottomViewerTemplate"></tsq-gallery>

  <h1>Without preview</h1>
  <tsq-gallery [files]="files"
               [hasMiniPreviews]="false"
               [bottomViewerTemplate]="bottomViewerTemplate"></tsq-gallery>
  <tsq-gallery [files]="files"
               [hasMiniPreviews]="false"
               [imagePreviewTemplate]="singleNav"
               [bottomViewerTemplate]="bottomViewerTemplate"></tsq-gallery>

</div>

<ng-template #imagePreviewTemplate
             let-index="index" let-name="name" let-url="url" let-alt="alt" let-fns="fns">
  <div class="image-preview-custom pointer-cursor"
       (click)="fns.open(index)"
       [ngStyle]="{'background-image': 'url(\'' + url + '\')'}">
        {{name}}
      </div>
</ng-template>

<ng-template #pdfPreviewTemplate
             let-index="index" let-name="name" let-alt="alt" let-fns="fns">
  <div class="pdf-preview-custom pointer-cursor"
       (click)="fns.open(index)">
        {{name}}
      </div>
</ng-template>

<ng-template #singleNav
             let-fns="fns">
  <button class="pointer-cursor custom-button"
       (click)="fns.open()">Custom Open Action</button>
</ng-template>


<ng-template #topViewerTemplate let-file="file" let-fns="fns">
  <div class="gallery-top-viewer">
    <div>Some random things</div>
    <div>{{file.name}}</div>
    <div (click)="fns.close()"
         class="pointer-cursor close-action">&times;</div>
  </div>
</ng-template>

<ng-template #bottomViewerTemplate let-file="file" let-index="index">
  <div class="gallery-bottom-viewer pointer-cursor">
    <div (click)="$event.stopPropagation(); downloadFile(file)">Download</div>
    <div (click)="$event.stopPropagation(); removeFromList(index)">Delete</div>
  </div>
</ng-template>
